/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
body {
    font-family: 'Dela Gothic One', cursive;
}
/* header */
nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
}